<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
   
    <style>
        body {
            background-color: #2d3748;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            padding: 0;
            color: white;
            text-align: center;
        }

        h1 {
            color: white;
            font-size: 2rem; 
        }

        button {
            background-color: #3182ce;
            color: white;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 0.25rem;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            transition: box-shadow 0.3s, transform 0.2s;
        }

        button:hover, button:focus {
            background-color: #2c5282;
            box-shadow: 0px 0px 8px 2px crimson;
            transform: translate(-2px, -2px);
        }

        #heading {
            margin-bottom: 20px;
        }

        #buttons_info_entry {
            font-size: 1rem; 
        }
    </style>
</head>
<body>
    <div>
        <h1 id="heading"></h1>
        <button onclick="location.href='/'" id="buttons_info_entry"></button>
    </div>

    <script>
        function main(){
            let text_1 = `YOU HAVE BEEN ADDED TO OUR WORLD :D`;
            let textElement = document.querySelector("#heading");
            let text_2 = `Login with your credentials`;
            let textElement2 = document.querySelector("#buttons_info_entry");
            let index1 = 0;
            let index2 = 0;

            function typeWriter() {
                if (index1 < text_1.length) {
                    textElement.innerHTML += text_1.charAt(index1);
                    index1++;
                    setTimeout(typeWriter, 100); 
                } else {
                    typeWriter2();
                }
            }

            function typeWriter2() {
                if (index2 < text_2.length) {
                    textElement2.innerHTML += text_2.charAt(index2);
                    index2++;
                    setTimeout(typeWriter2, 50); 
                }
            }

            typeWriter();
        }

        window.onload = main; 
    </script>
</body>
</html>